.footer {
	padding: 2em;
	text-align: center;
	
	background-color: var(--sec-bg);
	color: #FFF;
}

.footer-box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.footer-secao {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--color);
}

.midia-lista {
	display: flex;
	list-style: none;
	margin-right: 30px;
}

.midia-item {
	margin: 0 1em;
}

.midia-item:hover {
	color: var(--color-sec);
}

.midia-lista svg {
	font-size: 1.5em;
	cursor: pointer;
}

.duvidas-lista {
	text-align: start;
}

.duvidas-item a {
	text-decoration: none;
	color: var(--color);
}

.footer-txt {
	color: black;
	margin-top: 2em;
}

.footer-txt span {
	font-weight: bold;
	color: var(--color-sec);
}