.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  color: var(--color-sec);
}

.form button {
  width: 100%;
}

.form p{
  position: relative;
  bottom: 5%;
  text-align: end;
  text-decoration: underline;

  cursor: pointer;
  color: gray;
  opacity: 0.5;
}

.textArea {
  outline: none;
}

.textArea:focus {
  border: 1px solid var(--sec-bg);
}