* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: white;
  --sec-bg: #d0ecea;
  --color: #0fc3e8;
  --color-sec: #0194be;
  --color-terc: blue;
}

html,
body,
#root {
	height: 100%;
	background-color: var(--main-bg);
}

section {
  width: 100%;
  margin: 10% 2%;
}