* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: white;
  --sec-bg: #d0ecea;
  --color: #0fc3e8;
  --color-sec: #0194be;
  --color-terc: blue;
}

html,
body,
#root {
	height: 100%;
	background-color: var(--main-bg);
}

section {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  margin: 20% 2%;
  z-index: 1;
}

@media only screen and (min-width: 800px) {
  section {
    margin: 10% 2%;
  }
}